* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #212121;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.slider-wrapper {
 width: 100%;
 position: relative;
}
.slide-img {
  display: none;
  width: 100%;
  object-fit: cover;
  filter: brightness(.5);
}
.slider-active {
  display: block;
  animation: fadeImg .8s;
}
.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.slider-controller {
  display: flex;
  justify-content: space-between;
}
.arrow {
  padding: 20px 5px;
}
.previous,
.next {
  display: block;
  padding: 2.5px 33.5px;
}
.arrow-icon {
  display: block;
  color: #fff;
  font-size: 32px;
  transform: translateX(0px);
  transition: transform .3s ease;
}
.previous:hover .arrow-icon {
  transform: translateX(-10px) scale(1.2);
}
.next:hover .arrow-icon {
  transform: translateX(10px) scale(1.2);
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}